Get_Splunk_Data.json
{"flowContents":{"identifier":"51096ed8-795a-374b-a06c-0643390950b8","instanceIdentifier":"0194109c-7c82-16c5-941b-dd18276b9cdb","name":"Get Splunk Data","comments":"","position":{"x":-168.0,"y":208.0},"processGroups":[{"identifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3","instanceIdentifier":"019410fe-7c82-16c5-9c43-472a9d3b0889","name":"Create Query","comments":"","position":{"x":192.0,"y":-640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"181e6ff1-6407-3cb8-8572-9094bd70a888","instanceIdentifier":"01941101-7c82-16c5-4d11-87586acdc0fb","name":"ExtractText","comments":"","position":{"x":216.0,"y":-414.0894317626953},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","index":"(.*)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"index":{"name":"index","displayName":"index","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"132ad39b-124f-3d3d-95d3-ff519c57744a","instanceIdentifier":"01941108-7c82-16c5-768a-20c90ce5cc10","name":"UpdateAttribute","comments":"","position":{"x":216.0,"y":-192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"start_time":"#{start_time}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"start_time":{"name":"start_time","displayName":"start_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"9d347115-c19c-33d2-b6b2-20d81558aaea","instanceIdentifier":"01941107-7c82-16c5-ad92-a6b25556cd92","name":"SplitText","comments":"","position":{"x":216.0,"y":-638.0894317626953},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"c147a150-cbdc-33f3-a577-cd21cdd6f4dc","instanceIdentifier":"01941105-7c82-16c5-ae8c-5de91d78f8b3","name":"RouteOnAttribute","comments":"","position":{"x":816.0,"y":32.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","timeRemaining":"${start_time:lt(#{end_time})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timeRemaining":{"name":"timeRemaining","displayName":"timeRemaining","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"81d61cdf-ae16-3124-a003-1fe496a289c2","instanceIdentifier":"01941103-7c82-16c5-3d6b-238817a15691","name":"ReplaceText","comments":"","position":{"x":216.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Regular Expression":".*","Replacement Value":"${newContent}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"3624f19a-55cb-3cdd-a8bc-b68be9bd15ea","instanceIdentifier":"01941102-7c82-16c5-867e-4df13b998430","name":"UpdateAttribute","comments":"","position":{"x":216.0,"y":32.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"newContent":"search=search index=${index} earliest_time=${start_time} latest_time=${start_time:plus(#{query_range})} | fields _raw","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"newContent":{"name":"newContent","displayName":"newContent","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"cf6750a9-4975-3041-bf93-7af91fd02610","instanceIdentifier":"01941106-7c82-16c5-07fa-05580adc1084","name":"UpdateAttribute","comments":"","position":{"x":816.0,"y":-192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"start_time":"${start_time:plus(#{query_range})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"start_time":{"name":"start_time","displayName":"start_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"e750854d-590f-3cc7-ad2e-5f8ca8254ee2","instanceIdentifier":"0194113a-7c82-16c5-56d7-73d2fcb404ac","name":"ControlRate","comments":"","position":{"x":216.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"2 sec","Grouping Attribute":null,"Maximum Rate":"2","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"}],"inputPorts":[{"identifier":"a02cd46d-cfc6-3179-9c8c-245d043323be","instanceIdentifier":"019410ff-7c82-16c5-072a-f80834c07f20","name":"Inny","position":{"x":272.0,"y":-784.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"}],"outputPorts":[{"identifier":"7efeeb35-cf27-389e-94fa-8070ad478707","instanceIdentifier":"01941100-7c82-16c5-fc58-c2b75e263385","name":"Outy","position":{"x":272.0,"y":704.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"}],"connections":[{"identifier":"f6296a24-47ea-3b60-9865-0dbad8953480","instanceIdentifier":"01941111-7c82-16c5-607d-5a58ec94fe39","name":"","source":{"id":"cf6750a9-4975-3041-bf93-7af91fd02610","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941106-7c82-16c5-07fa-05580adc1084"},"destination":{"id":"c147a150-cbdc-33f3-a577-cd21cdd6f4dc","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941105-7c82-16c5-ae8c-5de91d78f8b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"f1c2ce93-f8ad-3293-9a05-eb8eef217431","instanceIdentifier":"0194110a-7c82-16c5-b6b0-bf00c3f01ad5","name":"","source":{"id":"81d61cdf-ae16-3124-a003-1fe496a289c2","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ReplaceText","comments":"","instanceIdentifier":"01941103-7c82-16c5-3d6b-238817a15691"},"destination":{"id":"e750854d-590f-3cc7-ad2e-5f8ca8254ee2","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ControlRate","comments":"","instanceIdentifier":"0194113a-7c82-16c5-56d7-73d2fcb404ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"3728d876-71c9-30df-bf65-908a0f7273f3","instanceIdentifier":"0194110d-7c82-16c5-81c3-c7ba291bb31c","name":"","source":{"id":"132ad39b-124f-3d3d-95d3-ff519c57744a","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941108-7c82-16c5-768a-20c90ce5cc10"},"destination":{"id":"3624f19a-55cb-3cdd-a8bc-b68be9bd15ea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941102-7c82-16c5-867e-4df13b998430"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"ed01ce1b-bac0-3723-a921-7a2dd5d844eb","instanceIdentifier":"0194113b-7c82-16c5-efcc-c8c54af93ec4","name":"","source":{"id":"e750854d-590f-3cc7-ad2e-5f8ca8254ee2","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ControlRate","comments":"","instanceIdentifier":"0194113a-7c82-16c5-56d7-73d2fcb404ac"},"destination":{"id":"7efeeb35-cf27-389e-94fa-8070ad478707","type":"OUTPUT_PORT","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"Outy","instanceIdentifier":"01941100-7c82-16c5-fc58-c2b75e263385"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"99dd096d-e714-3419-990e-75fe965d7b2a","instanceIdentifier":"0194110c-7c82-16c5-0e73-a18ade51f916","name":"","source":{"id":"c147a150-cbdc-33f3-a577-cd21cdd6f4dc","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941105-7c82-16c5-ae8c-5de91d78f8b3"},"destination":{"id":"3624f19a-55cb-3cdd-a8bc-b68be9bd15ea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941102-7c82-16c5-867e-4df13b998430"},"labelIndex":1,"zIndex":0,"selectedRelationships":["timeRemaining"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"f187022d-40c8-34b5-9093-0a3652f630fd","instanceIdentifier":"01941109-7c82-16c5-0a1e-7e7cfd26a991","name":"","source":{"id":"9d347115-c19c-33d2-b6b2-20d81558aaea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"SplitText","comments":"","instanceIdentifier":"01941107-7c82-16c5-ad92-a6b25556cd92"},"destination":{"id":"181e6ff1-6407-3cb8-8572-9094bd70a888","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ExtractText","comments":"","instanceIdentifier":"01941101-7c82-16c5-4d11-87586acdc0fb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"3adfde51-9cf8-34b1-a951-0232ac028995","instanceIdentifier":"0194110e-7c82-16c5-d98c-e0d3ab0b8379","name":"","source":{"id":"3624f19a-55cb-3cdd-a8bc-b68be9bd15ea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941102-7c82-16c5-867e-4df13b998430"},"destination":{"id":"81d61cdf-ae16-3124-a003-1fe496a289c2","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ReplaceText","comments":"","instanceIdentifier":"01941103-7c82-16c5-3d6b-238817a15691"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"1b5646c7-5bb6-3e10-8b4a-5794fc21ca10","instanceIdentifier":"0194110f-7c82-16c5-029f-e21f2ada6fef","name":"","source":{"id":"a02cd46d-cfc6-3179-9c8c-245d043323be","type":"INPUT_PORT","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"Inny","instanceIdentifier":"019410ff-7c82-16c5-072a-f80834c07f20"},"destination":{"id":"9d347115-c19c-33d2-b6b2-20d81558aaea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"SplitText","comments":"","instanceIdentifier":"01941107-7c82-16c5-ad92-a6b25556cd92"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"dc16bdb6-3dd7-3c69-89b3-98d5fa66afd8","instanceIdentifier":"01941110-7c82-16c5-ebe9-3013a6791b3b","name":"","source":{"id":"181e6ff1-6407-3cb8-8572-9094bd70a888","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"ExtractText","comments":"","instanceIdentifier":"01941101-7c82-16c5-4d11-87586acdc0fb"},"destination":{"id":"132ad39b-124f-3d3d-95d3-ff519c57744a","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941108-7c82-16c5-768a-20c90ce5cc10"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"},{"identifier":"0a560295-fd50-31c2-84fe-fc80a00107ee","instanceIdentifier":"0194110b-7c82-16c5-5442-dd8ce5b2d095","name":"","source":{"id":"3624f19a-55cb-3cdd-a8bc-b68be9bd15ea","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941102-7c82-16c5-867e-4df13b998430"},"destination":{"id":"cf6750a9-4975-3041-bf93-7af91fd02610","type":"PROCESSOR","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941106-7c82-16c5-07fa-05580adc1084"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"}],"labels":[{"identifier":"3da31a2b-0fe6-3fdc-a982-d5690144a80c","instanceIdentifier":"01941120-7c82-16c5-dcaf-1850225e0314","position":{"x":-136.0,"y":-600.0},"label":"Step 1, get difference between start and end time\nStep 1.5, Add number of times this has happened?","zIndex":0,"width":150.0,"height":150.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0bb536f7-20da-36d3-8043-c82ec52b90b3"}],"funnels":[],"controllerServices":[],"parameterContextName":"Splunk Migration Details","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","instanceIdentifier":"019410c7-7c82-16c5-779c-74bd90bda800","name":"Submit Search","comments":"","position":{"x":192.0,"y":-368.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b9f8a4f0-a212-354b-9e34-f6ca484f727e","instanceIdentifier":"16b809ab-0194-1000-d3e6-3c6ae8e2c403","name":"InvokeHTTP","comments":"","position":{"x":144.0,"y":0.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://#{splunk_host}:#{splunk_port}/services/search/jobs","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":"admin","Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"},{"identifier":"d5c2087d-93fd-339b-bba1-3b2be6219254","instanceIdentifier":"01941020-7c82-16c5-8525-efb39c73df51","name":"EvaluateXPath","comments":"","position":{"x":144.0,"y":224.0},"type":"org.apache.nifi.processors.standard.EvaluateXPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"string","Validate DTD":"false","sid":"response/sid"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validate DTD":{"name":"Validate DTD","displayName":"Allow DTD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sid":{"name":"sid","displayName":"sid","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"}],"inputPorts":[{"identifier":"d07cc8c4-7ebd-32fa-8412-159a61ab446f","instanceIdentifier":"019410c8-7c82-16c5-ff47-c436f748e8d9","name":"Inny","position":{"x":200.0,"y":-144.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"}],"outputPorts":[{"identifier":"bb336018-8668-3c12-a4dd-6025981ed632","instanceIdentifier":"019410c9-7c82-16c5-a8a6-0fba9b20add1","name":"Outy","position":{"x":200.0,"y":448.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"}],"connections":[{"identifier":"ccd829c8-1e20-354a-9528-43aa9ef86371","instanceIdentifier":"019410db-7c82-16c5-83f7-2815872d0c7b","name":"","source":{"id":"d5c2087d-93fd-339b-bba1-3b2be6219254","type":"PROCESSOR","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"EvaluateXPath","comments":"","instanceIdentifier":"01941020-7c82-16c5-8525-efb39c73df51"},"destination":{"id":"bb336018-8668-3c12-a4dd-6025981ed632","type":"OUTPUT_PORT","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"Outy","instanceIdentifier":"019410c9-7c82-16c5-a8a6-0fba9b20add1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"},{"identifier":"d4fe5be0-246b-323f-991f-9920fda7e918","instanceIdentifier":"019410da-7c82-16c5-fab0-5ad45e15ed63","name":"","source":{"id":"d07cc8c4-7ebd-32fa-8412-159a61ab446f","type":"INPUT_PORT","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"Inny","instanceIdentifier":"019410c8-7c82-16c5-ff47-c436f748e8d9"},"destination":{"id":"b9f8a4f0-a212-354b-9e34-f6ca484f727e","type":"PROCESSOR","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"InvokeHTTP","comments":"","instanceIdentifier":"16b809ab-0194-1000-d3e6-3c6ae8e2c403"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"},{"identifier":"a30c6dca-1a14-320b-ae37-0b69deafc2d1","instanceIdentifier":"01941001-7c82-16c5-3519-ecb7bdfc97c4","name":"","source":{"id":"b9f8a4f0-a212-354b-9e34-f6ca484f727e","type":"PROCESSOR","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"InvokeHTTP","comments":"","instanceIdentifier":"16b809ab-0194-1000-d3e6-3c6ae8e2c403"},"destination":{"id":"d5c2087d-93fd-339b-bba1-3b2be6219254","type":"PROCESSOR","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"EvaluateXPath","comments":"","instanceIdentifier":"01941020-7c82-16c5-8525-efb39c73df51"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Splunk Migration Details","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"218805e4-c310-3141-a4f5-8a6758e52b5a","instanceIdentifier":"019410cb-7c82-16c5-78d4-99f84ed929c9","name":"Get Search State","comments":"","position":{"x":192.0,"y":-96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a90ffad3-94ff-34ad-be24-4465b7bfc45f","instanceIdentifier":"01941029-7c82-16c5-1b2b-5a84e74f92ce","name":"InvokeHTTP","comments":"","position":{"x":128.0,"y":192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://#{splunk_host}:#{splunk_port}/services/search/jobs/${sid}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"b15f4e10-4812-322e-9a2f-edc04c9ca797","instanceIdentifier":"01941031-7c82-16c5-c0bb-c582ce65e47f","name":"EvaluateXPath","comments":"","position":{"x":128.0,"y":416.0},"type":"org.apache.nifi.processors.standard.EvaluateXPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"string","state":"//*[@name='isDone']","totalCount":"//*[@name='eventCount']","Validate DTD":"false"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"state":{"name":"state","displayName":"state","identifiesControllerService":false,"sensitive":false,"dynamic":true},"totalCount":{"name":"totalCount","displayName":"totalCount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Validate DTD":{"name":"Validate DTD","displayName":"Allow DTD","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"60381aab-10e3-3b4e-bfdd-e709a76662d0","instanceIdentifier":"01941049-7c82-16c5-91b4-352423b6815c","name":"ControlRate","comments":"","position":{"x":488.0,"y":416.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"2 sec","Grouping Attribute":null,"Maximum Rate":"3","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"cbbb52d7-d36f-385d-9b53-c7c7ad5cf9fd","instanceIdentifier":"01941032-7c82-16c5-f789-6183d1c091ec","name":"RouteOnAttribute","comments":"","position":{"x":128.0,"y":640.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","noResults":"${state:equals(\"1\"):and(${totalCount:equals(0)})}","isDone":"${state:equals(\"1\"):and(${totalCount:equals(0):not()})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"noResults":{"name":"noResults","displayName":"noResults","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isDone":{"name":"isDone","displayName":"isDone","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["noResults"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"}],"inputPorts":[{"identifier":"220ab463-5349-35a0-88ba-c391003142af","instanceIdentifier":"019410cc-7c82-16c5-f562-6c070095c9ab","name":"Inny","position":{"x":184.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"}],"outputPorts":[{"identifier":"8cd7414d-c0d0-3024-9ff3-6e4a8c61bed6","instanceIdentifier":"019410cd-7c82-16c5-43c0-388af7346c17","name":"Outy","position":{"x":184.0,"y":864.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"}],"connections":[{"identifier":"4d2aab88-f46c-3bc6-a083-293cab971452","instanceIdentifier":"0194104a-7c82-16c5-c25c-539a0c2b953f","name":"","source":{"id":"60381aab-10e3-3b4e-bfdd-e709a76662d0","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"ControlRate","comments":"","instanceIdentifier":"01941049-7c82-16c5-91b4-352423b6815c"},"destination":{"id":"a90ffad3-94ff-34ad-be24-4465b7bfc45f","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941029-7c82-16c5-1b2b-5a84e74f92ce"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":664.0,"y":256.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"c1953d41-27be-3850-81a8-334ce093cc1f","instanceIdentifier":"01941037-7c82-16c5-f044-8057d0e80110","name":"","source":{"id":"cbbb52d7-d36f-385d-9b53-c7c7ad5cf9fd","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941032-7c82-16c5-f789-6183d1c091ec"},"destination":{"id":"60381aab-10e3-3b4e-bfdd-e709a76662d0","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"ControlRate","comments":"","instanceIdentifier":"01941049-7c82-16c5-91b4-352423b6815c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":664.0,"y":704.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"bb7180d4-91c6-3419-837d-fa334bddcb3c","instanceIdentifier":"01941033-7c82-16c5-8644-e894e05e9a85","name":"","source":{"id":"b15f4e10-4812-322e-9a2f-edc04c9ca797","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"EvaluateXPath","comments":"","instanceIdentifier":"01941031-7c82-16c5-c0bb-c582ce65e47f"},"destination":{"id":"cbbb52d7-d36f-385d-9b53-c7c7ad5cf9fd","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941032-7c82-16c5-f789-6183d1c091ec"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"d87d06a6-cf39-3373-bc05-ef68143c11db","instanceIdentifier":"019410d1-7c82-16c5-04f5-918f00467290","name":"","source":{"id":"cbbb52d7-d36f-385d-9b53-c7c7ad5cf9fd","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941032-7c82-16c5-f789-6183d1c091ec"},"destination":{"id":"8cd7414d-c0d0-3024-9ff3-6e4a8c61bed6","type":"OUTPUT_PORT","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"Outy","instanceIdentifier":"019410cd-7c82-16c5-43c0-388af7346c17"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isDone"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"7adfca65-bb2c-3714-8929-9e784d937e56","instanceIdentifier":"019410d0-7c82-16c5-c400-adb3fdcc4a5c","name":"","source":{"id":"220ab463-5349-35a0-88ba-c391003142af","type":"INPUT_PORT","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"Inny","instanceIdentifier":"019410cc-7c82-16c5-f562-6c070095c9ab"},"destination":{"id":"a90ffad3-94ff-34ad-be24-4465b7bfc45f","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941029-7c82-16c5-1b2b-5a84e74f92ce"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"},{"identifier":"8313351c-1716-3991-a71d-105f117cc9ae","instanceIdentifier":"0194102a-7c82-16c5-fa8e-aced178f0bb9","name":"","source":{"id":"a90ffad3-94ff-34ad-be24-4465b7bfc45f","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941029-7c82-16c5-1b2b-5a84e74f92ce"},"destination":{"id":"b15f4e10-4812-322e-9a2f-edc04c9ca797","type":"PROCESSOR","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"EvaluateXPath","comments":"","instanceIdentifier":"01941031-7c82-16c5-c0bb-c582ce65e47f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"218805e4-c310-3141-a4f5-8a6758e52b5a"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Splunk Migration Details","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","instanceIdentifier":"019410d2-7c82-16c5-1b85-cac4cb7b4bf6","name":"Get Results","comments":"","position":{"x":192.0,"y":176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"38d82136-361f-3581-9f52-d3f1763ff23d","instanceIdentifier":"01941099-7c82-16c5-fb2d-53b41d9c7efc","name":"ControlRate","comments":"","position":{"x":-376.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"5","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"7dec6be8-8827-3fea-a3e0-c19516e0efec","instanceIdentifier":"0194107f-7c82-16c5-297b-4a21fa477556","name":"SplitJson","comments":"","position":{"x":216.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.results"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"c2120cd7-84b5-39ae-86cc-47a422554a46","instanceIdentifier":"01941095-7c82-16c5-d947-f5564d72fa63","name":"RouteOnAttribute","comments":"","position":{"x":-376.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","moreToGather":"${offset:lt(${totalCount})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"moreToGather":{"name":"moreToGather","displayName":"moreToGather","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"715ca1a9-46ae-3d7c-8c8e-4772f454773b","instanceIdentifier":"01941093-7c82-16c5-d5ce-9aa91be5bd64","name":"UpdateAttribute","comments":"","position":{"x":216.0,"y":1376.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"offset":"0","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"offset":{"name":"offset","displayName":"offset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"5ce4c046-9278-331c-b99b-78bc2dfeeed8","instanceIdentifier":"01941046-7c82-16c5-fba6-32a2792260cb","name":"InvokeHTTP","comments":"","position":{"x":216.0,"y":1600.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://#{splunk_host}:#{splunk_port}/services/search/jobs/${sid}/results?count=#{search_quantity}&offset=${offset}&output_mode=json","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"7d744a6c-e3b1-3fdf-8e5f-df9402520887","instanceIdentifier":"0194108f-7c82-16c5-a8da-063aff781751","name":"UpdateAttribute","comments":"","position":{"x":-376.0,"y":1600.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"offset":"${offset:plus(#{search_quantity})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"offset":{"name":"offset","displayName":"offset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"}],"inputPorts":[{"identifier":"02e86258-a8a9-33ff-a68c-38cba5fb56ed","instanceIdentifier":"019410d3-7c82-16c5-5949-32410b76da3c","name":"Inny","position":{"x":272.0,"y":1232.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"}],"outputPorts":[{"identifier":"3f667a7f-b5bb-392b-b1cf-481265c6a8cf","instanceIdentifier":"019410d4-7c82-16c5-36bd-69467f56cb6f","name":"Outy","position":{"x":272.0,"y":2048.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"}],"connections":[{"identifier":"8ffc53bb-0fd6-39bb-8882-210e1a2dbfc7","instanceIdentifier":"0194109a-7c82-16c5-1590-a892833c7a28","name":"","source":{"id":"38d82136-361f-3581-9f52-d3f1763ff23d","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"ControlRate","comments":"","instanceIdentifier":"01941099-7c82-16c5-fb2d-53b41d9c7efc"},"destination":{"id":"5ce4c046-9278-331c-b99b-78bc2dfeeed8","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941046-7c82-16c5-fba6-32a2792260cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"e10c922b-0744-3b41-8947-d12e9ab282cb","instanceIdentifier":"01941097-7c82-16c5-0c2a-65e5d8b71ca8","name":"","source":{"id":"5ce4c046-9278-331c-b99b-78bc2dfeeed8","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941046-7c82-16c5-fba6-32a2792260cb"},"destination":{"id":"c2120cd7-84b5-39ae-86cc-47a422554a46","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941095-7c82-16c5-d947-f5564d72fa63"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"6f257e6e-f379-3308-bbc5-9397f40c660c","instanceIdentifier":"01941096-7c82-16c5-ce49-a23a74bd6a85","name":"","source":{"id":"c2120cd7-84b5-39ae-86cc-47a422554a46","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"01941095-7c82-16c5-d947-f5564d72fa63"},"destination":{"id":"7d744a6c-e3b1-3fdf-8e5f-df9402520887","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194108f-7c82-16c5-a8da-063aff781751"},"labelIndex":0,"zIndex":0,"selectedRelationships":["moreToGather"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"08430258-ba8e-3e91-9f2c-d3c1f2861849","instanceIdentifier":"01941094-7c82-16c5-b8e8-ef2a5d7547c9","name":"","source":{"id":"715ca1a9-46ae-3d7c-8c8e-4772f454773b","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941093-7c82-16c5-d5ce-9aa91be5bd64"},"destination":{"id":"5ce4c046-9278-331c-b99b-78bc2dfeeed8","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941046-7c82-16c5-fba6-32a2792260cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"5fde5f61-ecae-34c7-93f2-c3f7ea785bfb","instanceIdentifier":"019410d8-7c82-16c5-74b8-608b16cb2295","name":"","source":{"id":"02e86258-a8a9-33ff-a68c-38cba5fb56ed","type":"INPUT_PORT","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"Inny","instanceIdentifier":"019410d3-7c82-16c5-5949-32410b76da3c"},"destination":{"id":"715ca1a9-46ae-3d7c-8c8e-4772f454773b","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941093-7c82-16c5-d5ce-9aa91be5bd64"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"7b723257-cd5a-314d-ba72-ba784d61022c","instanceIdentifier":"01941098-7c82-16c5-7ccb-8c4c0eb51e92","name":"","source":{"id":"7d744a6c-e3b1-3fdf-8e5f-df9402520887","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194108f-7c82-16c5-a8da-063aff781751"},"destination":{"id":"38d82136-361f-3581-9f52-d3f1763ff23d","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"ControlRate","comments":"","instanceIdentifier":"01941099-7c82-16c5-fb2d-53b41d9c7efc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"35cfd61c-63ea-32c8-a78d-0231838635a3","instanceIdentifier":"01941048-7c82-16c5-6fe0-b96e4b8ea08b","name":"","source":{"id":"5ce4c046-9278-331c-b99b-78bc2dfeeed8","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941046-7c82-16c5-fba6-32a2792260cb"},"destination":{"id":"7dec6be8-8827-3fea-a3e0-c19516e0efec","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"SplitJson","comments":"","instanceIdentifier":"0194107f-7c82-16c5-297b-4a21fa477556"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"},{"identifier":"90d9ec9b-5327-3a10-acaf-160f3fe103b7","instanceIdentifier":"019410d9-7c82-16c5-d799-95735bfeee9f","name":"","source":{"id":"7dec6be8-8827-3fea-a3e0-c19516e0efec","type":"PROCESSOR","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"SplitJson","comments":"","instanceIdentifier":"0194107f-7c82-16c5-297b-4a21fa477556"},"destination":{"id":"3f667a7f-b5bb-392b-b1cf-481265c6a8cf","type":"OUTPUT_PORT","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"Outy","instanceIdentifier":"019410d4-7c82-16c5-36bd-69467f56cb6f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Splunk Migration Details","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"}],"remoteProcessGroups":[],"processors":[{"identifier":"cbbb7ba3-16d9-3e21-8b5a-d984b8964a4e","instanceIdentifier":"01941154-7c82-16c5-18b8-c7fc0ef20e87","name":"InvokeHTTP","comments":"","position":{"x":560.0,"y":720.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"192.168.68.89:50000","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"c5bad5a5-4dd6-34d2-91df-cb217485df47","instanceIdentifier":"0194114e-7c82-16c5-111d-cb392e892c72","name":"ControlRate","comments":"","position":{"x":560.0,"y":856.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":null,"Rate Controlled Attribute":null,"Rate Control Criteria":"data rate","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"db5b3113-3a01-337f-8b6f-e16a5b9d22ca","instanceIdentifier":"01941005-7c82-16c5-aa31-3d264d2cb334","name":"GenerateFlowFile","comments":"","position":{"x":208.0,"y":-864.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"#{index}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"ac744983-c26d-3182-9a42-2dfc7160cffb","instanceIdentifier":"0194114b-7c82-16c5-78e9-5490c246b557","name":"InvokeHTTP","comments":"","position":{"x":208.0,"y":448.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://#{es_agent_host}:50000","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"36733249-f1e0-34f8-8368-6003c5b294d4","instanceIdentifier":"0194115c-7c82-16c5-118d-8c3122b0312b","name":"InvokeHTTP","comments":"","position":{"x":560.0,"y":584.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"192.168.68.89:50000","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9a0bbe02-bb5a-3911-bf1e-edff5068264c","instanceIdentifier":"019410a6-7c82-16c5-5aee-d6533b65ab6f","name":"","source":{"id":"db5b3113-3a01-337f-8b6f-e16a5b9d22ca","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"01941005-7c82-16c5-aa31-3d264d2cb334"},"destination":{"id":"a02cd46d-cfc6-3179-9c8c-245d043323be","type":"INPUT_PORT","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"Inny","instanceIdentifier":"019410ff-7c82-16c5-072a-f80834c07f20"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"64a9d4ff-9d6f-321f-bd71-a63074061375","instanceIdentifier":"01941151-7c82-16c5-46d0-bf92f2514788","name":"","source":{"id":"ac744983-c26d-3182-9a42-2dfc7160cffb","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"0194114b-7c82-16c5-78e9-5490c246b557"},"destination":{"id":"c5bad5a5-4dd6-34d2-91df-cb217485df47","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"ControlRate","comments":"","instanceIdentifier":"0194114e-7c82-16c5-111d-cb392e892c72"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":384.0,"y":920.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"06152406-93df-3770-8448-b6ef462d3986","instanceIdentifier":"0194114c-7c82-16c5-68bc-a9c34f7c44b6","name":"","source":{"id":"ac744983-c26d-3182-9a42-2dfc7160cffb","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"0194114b-7c82-16c5-78e9-5490c246b557"},"destination":{"id":"36733249-f1e0-34f8-8368-6003c5b294d4","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"0194115c-7c82-16c5-118d-8c3122b0312b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":384.0,"y":648.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"48958cdb-e9a3-390e-a946-37ebae0a52f9","instanceIdentifier":"01941139-7c82-16c5-19af-d741300a8e87","name":"","source":{"id":"7efeeb35-cf27-389e-94fa-8070ad478707","type":"OUTPUT_PORT","groupId":"0bb536f7-20da-36d3-8043-c82ec52b90b3","name":"Outy","instanceIdentifier":"01941100-7c82-16c5-fc58-c2b75e263385"},"destination":{"id":"d07cc8c4-7ebd-32fa-8412-159a61ab446f","type":"INPUT_PORT","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"Inny","instanceIdentifier":"019410c8-7c82-16c5-ff47-c436f748e8d9"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"bd859a97-8e51-3a3f-ab2e-7895c74691d5","instanceIdentifier":"019410d6-7c82-16c5-c774-4f9dada57685","name":"","source":{"id":"8cd7414d-c0d0-3024-9ff3-6e4a8c61bed6","type":"OUTPUT_PORT","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"Outy","instanceIdentifier":"019410cd-7c82-16c5-43c0-388af7346c17"},"destination":{"id":"02e86258-a8a9-33ff-a68c-38cba5fb56ed","type":"INPUT_PORT","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"Inny","instanceIdentifier":"019410d3-7c82-16c5-5949-32410b76da3c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"fb312c6d-8f24-3d7b-bc78-c9dacb0c55ce","instanceIdentifier":"019410ce-7c82-16c5-7e09-7c12a38548a3","name":"","source":{"id":"bb336018-8668-3c12-a4dd-6025981ed632","type":"OUTPUT_PORT","groupId":"5194b8c7-e4ed-3a7c-9d3f-e92f654a7e1a","name":"Outy","instanceIdentifier":"019410c9-7c82-16c5-a8a6-0fba9b20add1"},"destination":{"id":"220ab463-5349-35a0-88ba-c391003142af","type":"INPUT_PORT","groupId":"218805e4-c310-3141-a4f5-8a6758e52b5a","name":"Inny","instanceIdentifier":"019410cc-7c82-16c5-f562-6c070095c9ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"d7e0d02b-8c67-3648-8a73-aa4647e20111","instanceIdentifier":"019410d7-7c82-16c5-328b-f1651fd7229e","name":"","source":{"id":"3f667a7f-b5bb-392b-b1cf-481265c6a8cf","type":"OUTPUT_PORT","groupId":"a6b5bcf1-0e5f-3628-85b3-ca0a98fc195c","name":"Outy","instanceIdentifier":"019410d4-7c82-16c5-36bd-69467f56cb6f"},"destination":{"id":"ac744983-c26d-3182-9a42-2dfc7160cffb","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"0194114b-7c82-16c5-78e9-5490c246b557"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"},{"identifier":"780e6e95-c437-312a-87ff-497894b7d98c","instanceIdentifier":"01941155-7c82-16c5-fb29-e3a73d0f75ea","name":"","source":{"id":"ac744983-c26d-3182-9a42-2dfc7160cffb","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"0194114b-7c82-16c5-78e9-5490c246b557"},"destination":{"id":"cbbb7ba3-16d9-3e21-8b5a-d984b8964a4e","type":"PROCESSOR","groupId":"51096ed8-795a-374b-a06c-0643390950b8","name":"InvokeHTTP","comments":"","instanceIdentifier":"01941154-7c82-16c5-18b8-c7fc0ef20e87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":384.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"}],"labels":[{"identifier":"43825fc3-0205-3151-b48d-6283c0d61fc8","instanceIdentifier":"019410f3-7c82-16c5-86c6-bc2c6b9bb53c","position":{"x":-304.0,"y":-640.0},"label":"Problem:\n- Splunk API = 500,000 limit (unless otherwise set)\n\nPossible Solution:\n- Run search for 1 day\n- If totalEvents >= 500,000, half time\n- Need to hold the queryable time so it can be halved","zIndex":0,"width":368.0,"height":160.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"51096ed8-795a-374b-a06c-0643390950b8"}],"funnels":[],"controllerServices":[],"parameterContextName":"Splunk Migration Details","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Splunk Migration Details":{"name":"Splunk Migration Details","parameters":[{"name":"start_time","description":"Start time in unix epoch format. Accepts Seconds precision.\nUse: https://www.unixtimestamp.com/","sensitive":false,"provided":false,"value":"1664233200"},{"name":"splunk_port","description":"The Splunk API/ Management port. Default is 8089.","sensitive":false,"provided":false,"value":"8089"},{"name":"search_quantity","description":"The number of records to read per query. Ensure this value is below the value of \"maxresultrows\" in the configuration files. Typically defaults to 50,000","sensitive":false,"provided":false,"value":"50000"},{"name":"splunk_host","description":"The API accessible Hostname/ IP address of the Splunk instance.","sensitive":false,"provided":false,"value":"splunk1.home.local"},{"name":"max_results","description":"The maximum number of results to be returned by Splunk. Ensure this value is below the value of \"max_count\" in the configuration files. Typically defaults to 500,000","sensitive":false,"provided":false,"value":"500000"},{"name":"end_time","description":"End time in unix epoch format. Accepts Seconds and Millisecond precision.\nUse: https://www.unixtimestamp.com/","sensitive":false,"provided":false,"value":"1730764800"},{"name":"es_agent_host","description":"The accessible hostname/IP of the Elastic Agent being used to receive the events.","sensitive":false,"provided":false,"value":"192.168.68.89"},{"name":"index","description":"One or more new line delimited indices.\nNew lines are created with \"shift + enter\"","sensitive":false,"provided":false,"value":"stocks"},{"name":"query_range","description":"The number of seconds to query at a time","sensitive":false,"provided":false,"value":"86400"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}